<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TipoPiezaServlet</servlet-name>
        <servlet-class>controlador.TipoPiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PiezaServlet</servlet-name>
        <servlet-class>controlador.PiezaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlmacenServlet</servlet-name>
        <servlet-class>controlador.AlmacenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redireccion</servlet-name>
        <servlet-class>controlador.Redireccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovimientoServlet</servlet-name>
        <servlet-class>controlador.MovimientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuariosServlet</servlet-name>
        <servlet-class>controlador.UsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolesServlet</servlet-name>
        <servlet-class>controlador.RolesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermisoServlet</servlet-name>
        <servlet-class>controlador.PermisoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TipoPiezaServlet</servlet-name>
        <url-pattern>/tipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PiezaServlet</servlet-name>
        <url-pattern>/pieza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlmacenServlet</servlet-name>
        <url-pattern>/almacen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redireccion</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovimientoServlet</servlet-name>
        <url-pattern>/movimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuariosServlet</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolesServlet</servlet-name>
        <url-pattern>/roles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermisoServlet</servlet-name>
        <url-pattern>/permiso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
